html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

.header {
    font-family: 'Bebas';
    font-weight: 400;
    text-transform: uppercase;
}