@import 'vars';
@import 'global';
@import 'fonts';
//header
.header_inner {
    display: flex;
    justify-content: space-between;
    margin: 0px 291px;
    background-color: #fdfdfd;
}

.header_logo {
    font-size: 36px;
    a {
        color: $pink;
    }
    span {
        color: $orange;
    }
}

.header_text {
    font-size: 16px;
    display: flex;
    li {
        display: inline;
        &+li {
            margin-left: 30px;
        }
        a {
            color: $grey;
        }
    }
     :hover {
        color: $orange;
    }
}

//slider
.slider_container {
    display: flex;
    justify-content: space-between;
}

.slider {
    &_left {
        margin-right: 10px;
    }
    &_rigth {
        margin-left: 10px;
    }
    &_left,
    &_rigth {
        width: 480px;
        height: 60px;
        background-color: $sl_pink;
    }
}

.slick-list {
    width: 940px;
    min-height: 400px;
}

.slider_item {
    width: 100%;
    min-height: 400px;
    background-image: url(../images/slider/slider1.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slick-arrow {
    display: flex;
    position: absolute;
    border: none;
    text-decoration: none;
    background: none;
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

.slick-prev {
    top: 160px;
    left: 5px;
    z-index: 1;
}

.slick-next {
    top: 160px;
    right: 5px;
}

.item_box {
    width: 415px;
    height: 125px;
    background-color: rgba(232, 102, 60, 0.8);
    color: #fff;
    margin-top: 245px;
    margin-left: 35px;
    font-family: 'Bebas';
    font-weight: 400;
    padding-left: 20px;
    &-title {
        font-size: 18px;
        padding: 20px 0;
    }
    &-text {
        font-weight: 400;
        font-size: 12px;
        font-family: 'HelveticaNeue';
        padding-bottom: 25px;
    }
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#slick-slide-control00 {
    color: transparent;
    padding: 0;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl1.jpg);
    background-color: $orange;
}

#slick-slide-control01 {
    color: transparent;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl2.jpg);
    background-color: $orange;
}

#slick-slide-control02 {
    color: transparent;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl3.jpg);
    background-color: $orange;
}

#slick-slide-control03 {
    color: transparent;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl4.jpg);
    background-color: $orange;
}

#slick-slide-control04 {
    color: transparent;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl5.jpg);
    background-color: $orange;
}

#slick-slide-control05 {
    color: transparent;
    width: 140px;
    height: 120px;
    background-image: url(../images/slider/sl6.jpg);
    background-color: $orange;
}

//item
.items_inner {
    display: flex;
    // justify-content: space-between;
    margin: 0px 291px;
}

.item {
    width: 300px;
    font-family: 'Bebas';
    // margin-right: 30px;
    &+& {
        margin-left: 20px;
    }
    &_link {
        text-align: center;
        padding: 10px 0px;
        width: 56px;
        height: 31px;
        background-color: #e8663c;
        color: #fff;
    }
    &_title {
        text-transform: uppercase;
        font-size: 18px;
        color: $orange;
        padding-left: 66px;
        margin-bottom: 35px;
        position: relative;
    }
    &_icons {
        position: absolute;
        width: 46px;
        height: 46px;
        top: 0;
        left: 0;
        img {
            position: relative;
            width: 46px;
            height: 46px;
        }
    }
    &_text {
        font-family: 'HelveticaNeue';
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 40px;
    }
}